<div class="dialog-container">
    <!-- 動畫影片 -->
    <video autoplay loop muted playsinline class="dialog-video">
      <source src="true.mp4" type="video/mp4" />
      您的瀏覽器不支援影片播放
    </video>

    <!-- 按鈕區域 51121 -->
    <div class="dialog-actions">
        <button mat-raised-button style="border: 0
        ;border-radius: 6px ; background-color: #c9c9c9;"  (click)="onCancel()">返回</button>
      <button style="border: 0
        ;border-radius: 6px ; background-color: #1a3861; color: #fff;" mat-raised-button  (click)="onConfirm()">確定</button>

    </div>
  </div>

